.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.content {
    border-radius: 1em;
    background: rgb(9, 1, 1);
    padding: 1em;
    font-family: Consolas, serif;
    color: #19f809;
}
button {
    font-family:"Bradley Hand ITC", cursive;
    font-size:  1.5em;
    background-color: rgb(35, 246, 7);
    transition: font-size 4s,background-color 6s;
}
button:hover{
    font-size: 5em;
    background-color: aqua;
}

